apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: lalavisit-secrets
  namespace: lalavisit
spec:
  template:
    metadata:
      name: lalavisit-secrets
      namespace: lalavisit
    type: Opaque
  encryptedData:
    # kubeseal 명령으로 생성된 암호화 데이터를 여기에 붙여넣으세요.
    email-user: PLACEHOLDER
    email-password: PLACEHOLDER
    smtp-host: PLACEHOLDER
    smtp-port: PLACEHOLDER
    contact-email: PLACEHOLDER
